In [1]:
from google.colab import files
file = files.upload()

Saving flights.csv to flights.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
flights = pd.read_csv('./flights.csv')
flights.head(10)

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
5,1,1,4,UA,IAH,SAN,1450,1.0,178.0,1303,1620,-14.0,0,0
6,1,1,4,AA,DFW,MSY,1250,84.0,64.0,447,1410,83.0,0,0
7,1,1,4,F9,SFO,PHX,1020,-7.0,91.0,651,1315,-6.0,0,0
8,1,1,4,AA,ORD,STL,1845,-5.0,44.0,258,1950,-5.0,0,0
9,1,1,4,UA,IAH,SJC,925,3.0,215.0,1608,1136,-14.0,0,0

In [4]:
#Grouping and aggregating with multiple columns and functions
#For each origin to destination flight, find the total number of flights, the number and percentage of canceled flights and the variance of the airline. 
group_cols=['ORG_AIR','DEST_AIR']
agg_dict={'CANCELLED':['sum','mean','size'],'AIR_TIME':['mean','std']}
flights.groupby(group_cols).agg(agg_dict).head()

                 CANCELLED              AIR_TIME
                       sum mean size        mean       std
ORG_AIR DEST_AIR
ATL     ABE              0  0.0   31   96.387097  6.765981
        ABQ              0  0.0   16  170.500000  9.373722
        ABY              0  0.0   19   28.578947  2.567225
        ACY              0  0.0    6   91.333333  3.386247
        AEX              0  0.0   40   78.725000  6.879876

In [5]:
#Removing the MultiIndex after grouping
#Read in the flights dataset; write a statement to find the total and average miles flown; and the maximum 
#and minimum arrival delay for each airline for each weekday
airline_info = flights.groupby(['AIRLINE','WEEKDAY']).agg({'DIST':['sum','mean'],'ARR_DELAY':['max','min']}).astype(int)
airline_info.head()

                    DIST       ARR_DELAY
                     sum  mean       max min
AIRLINE WEEKDAY
AA      1        1455386  1139       551 -60
        2        1358256  1107       725 -52
        3        1496665  1117       473 -45
        4        1452394  1089       349 -46
        5        1427749  1122       732 -41

In [6]:
#Let's see an example of this by finding the average distance traveled per flight from each airline
flights.groupby(['AIRLINE'], as_index=False)['DIST'].agg('mean').round(0)

   AIRLINE    DIST
0       AA  1114.0
1       AS  1066.0
2       B6  1772.0
3       DL   866.0
4       EV   460.0
5       F9   970.0
6       HA  2615.0
7       MQ   404.0
8       NK  1047.0
9       OO   511.0
10      UA  1231.0
11      US  1181.0
12      VX  1240.0
13      WN   810.0

In [7]:
flights.groupby('AIRLINE')['ARR_DELAY'].agg('mean').head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

# Grouping and aggregating with multiple columns and functions
Finding the number of cancelled flights for every airline per weekday

In [10]:
#Read in the flights dataset, and answer the first query
#by defining the grouping columns (AIRLINE, WEEKDAY),
#the aggregating column (CANCELLED), and the
#aggregating function (sum)
flights.groupby(['AIRLINE','WEEKDAY'])['CANCELLED'].agg(sum).head(7)

AIRLINE  WEEKDAY
AA       1          41
         2           9
         3          16
         4          20
         5          18
         6          21
         7          29
Name: CANCELLED, dtype: int64

In [11]:
group_cols = ['ORG_AIR','DEST_AIR']
agg_dict = {'CANCELLED':['sum','mean','size'],'AIR_TIME':['mean','var']}
flights.groupby(group_cols).agg(agg_dict).head()

                 CANCELLED              AIR_TIME
                       sum mean size        mean        var
ORG_AIR DEST_AIR
ATL     ABE              0  0.0   31   96.387097  45.778495
        ABQ              0  0.0   16  170.500000  87.866667
        ABY              0  0.0   19   28.578947   6.590643
        ACY              0  0.0    6   91.333333  11.466667
        AEX              0  0.0   40   78.725000  47.332692

# Removing the MultiIndex after grouping

In [12]:
airline_info = flights.groupby(['AIRLINE','WEEKDAY']).agg({'DIST':['sum','mean'],'ARR_DELAY':['max','min']}).astype(int)
airline_info.head()

                    DIST       ARR_DELAY
                     sum  mean       max min
AIRLINE WEEKDAY
AA      1        1455386  1139       551 -60
        2        1358256  1107       725 -52
        3        1496665  1117       473 -45
        4        1452394  1089       349 -46
        5        1427749  1122       732 -41

In [13]:
level0=airline_info.columns.get_level_values(0)
level0

Index(['DIST', 'DIST', 'ARR_DELAY', 'ARR_DELAY'], dtype='object')

In [14]:
level1=airline_info.columns.get_level_values(1)
level1

Index(['sum', 'mean', 'max', 'min'], dtype='object')

In [15]:
airline_info.head(7)

                    DIST       ARR_DELAY
                     sum  mean       max min
AIRLINE WEEKDAY
AA      1        1455386  1139       551 -60
        2        1358256  1107       725 -52
        3        1496665  1117       473 -45
        4        1452394  1089       349 -46
        5        1427749  1122       732 -41
        6        1265340  1124       858 -50
        7        1461906  1100       626 -49

In [16]:
airline_info.reset_index().head(7)

  AIRLINE WEEKDAY     DIST       ARR_DELAY
                       sum  mean       max min
0      AA       1  1455386  1139       551 -60
1      AA       2  1358256  1107       725 -52
2      AA       3  1496665  1117       473 -45
3      AA       4  1452394  1089       349 -46
4      AA       5  1427749  1122       732 -41
5      AA       6  1265340  1124       858 -50
6      AA       7  1461906  1100       626 -49

In [17]:
flights.groupby(['AIRLINE'], as_index=False)['DIST'].agg('mean').round(0)

   AIRLINE    DIST
0       AA  1114.0
1       AS  1066.0
2       B6  1772.0
3       DL   866.0
4       EV   460.0
5       F9   970.0
6       HA  2615.0
7       MQ   404.0
8       NK  1047.0
9       OO   511.0
10      UA  1231.0
11      US  1181.0
12      VX  1240.0
13      WN   810.0